/*head and body styles*/

html, body {
  background-color: #DBF0D5;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-family: Roboto, Arial, "sans-serif";
  font-size: 14px;
  line-height: 20px;
  position: relative;
  text-size-adjust: 100%;
}

.h1C {
  box-sizing: border-box;
  display: block;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  height: 28px;
  margin-block-end: 19.92px;
  margin-block-start: 19.92px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  text-size-adjust: 100%;
}

.h2C {
  box-sizing: border-box;
  color: rgb(17, 17, 17);
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 24px;
  overflow-wrap: break-word;
  pointer-events: auto;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
}

.paragraphC {
  box-sizing: border-box;
  color: rgb(17, 17, 17);
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 224px;
  line-height: 32px;
  margin-block-end: 50px;
  margin-block-start: 20px;
  margin-bottom: 50px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  overflow-wrap: break-word;
  pointer-events: auto;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
}

/*header and footer styles*/
.footerC, .headerC {
  background-color: #2A521D;
  /*background-image: none;*/
  background-image: url("trees-pexels-pixabay-53435.jpg");
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 300px;
  line-height: 25.6px;
  position: relative;
  text-size-adjust: 100%;
}

.h1Cheader {
  box-sizing: border-box;
  display: block;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-top: 50px;
  text-align: center;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  text-transform: uppercase;
}

.h1Cfooter {
  box-sizing: border-box;
  display: block;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-top: 50px;
  overflow-wrap: break-word;
  text-align: center;
  text-size-adjust: 100%;
}

.paragraphCfooter {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-top: 50px;
  overflow-wrap: break-word;
  text-align: center;
  text-size-adjust: 100%;
}

/*More styles testing*/
.tm-mb-1 { margin-bottom: 20px; }
.tm-row { display: flex; }
.tm-about-row,
.tm-services-row {
  flex-direction: column;
}
.tm-section-1-l {
  width: 57.85%;
  margin-right: 1.65%;
}
.tm-img-responsive {
  max-width: 100%;
  height: auto;
}
.tm-section-1-r {
  padding: 50px 40px;
  width: 40.5%;
}
.tm-bg-color-8 { background-color: #EDEEEF; } /* Nav background */
.tm-mb-2 { margin-bottom: 40px; }

/*
.imageC

.div_containerC {
  box-sizing: border-box;
  color: rgb(17, 17, 17);
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  margin-bottom: 60px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 60px;
  padding-top: 0px;
  pointer-events: auto;
  position: relative;
  text-size-adjust: 100%;
}
*/
