.dialog-wrapper {
    display: none !important;
}

.wrap,
#main {
    height: 100vh;
    margin: 0 !important;
}

iframe {
    display: none;
}


html,
body {
    height: 100%;
}

.page-preview {
    border-radius: 0;
    height: 100%;
}

.page-preview-header {
    background: #f2f2f2;
    border: none;
    height: 70px;
    position: relative;
    text-align: center;
}

.page-preview-header > a {
    display: inline-block;
    margin-top: 15px;
    padding: 4px;
}

.page-preview-header > a:hover {
    background: #e2f0fc;
    text-decoration: none;
}

.page-preview-header > a.active {
    background: #c9e4f9;
}

.page-preview-header > .close {
    float: right;
    margin-right: 10px;
}

.page-preview-body {
    height: calc(100% - 70px);
    overflow: hidden;
    text-align: center;
}

.page-preview-body iframe {
    border: none;
    display: inline-block;
    height: 100%;
}

/* Header style */
@media (min-width: 1200px)
.u-header {
    background-image: none;
}

body, aside, .u-sidebar-block, section, header, footer {
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
header {
    display: block;
}
.u-body {
    color: #111111;
    background-color: #ffffff;
}
.u-body {
    font-family: 'Open Sans',sans-serif;
}
.u-body {
    font-size: 1rem;
    line-height: 1.6;
}
style attribute {
    font-size: 16px;
}
html {
    font-size: 16px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.u-clearfix:before, .u-clearfix:after {
    content: '';
    display: table;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.u-clearfix:before, .u-clearfix:after {
    content: '';
    display: table;
}
*, *:before, *:after {
    box-sizing: border-box;
}

/*Section style*/
body, aside, .u-sidebar-block, section, header, footer {
    position: relative;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
}
.u-body {
    color: #111111;
    background-color: #ffffff;
}
.u-body {
    font-family: 'Open Sans',sans-serif;
}
.u-body {
    font-size: 1rem;
    line-height: 1.6;
}
style attribute {
    font-size: 16px;
}
html {
    font-size: 16px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.u-clearfix:before, .u-clearfix:after {
    content: '';
    display: table;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.u-clearfix:before, .u-clearfix:after {
    content: '';
    display: table;
}
*, *:before, *:after {
    box-sizing: border-box;
}

/*Footer style*/
@media (min-width: 1200px)
.u-footer {
    background-image: none;
}
.u-palette-3-base, .u-body.u-palette-3-base, .u-container-style.u-palette-3-base:before {
    color: #ffffff;
    background-color: #23354d;
}
body, aside, .u-sidebar-block, section, header, footer {
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
footer {
    display: block;
}
.u-body {
    color: #111111;
    background-color: #ffffff;
}
.u-body {
    font-family: 'Open Sans',sans-serif;
}
.u-body {
    font-size: 1rem;
    line-height: 1.6;
}
style attribute {
    font-size: 16px;
}
html {
    font-size: 16px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.u-clearfix:before, .u-clearfix:after {
    content: '';
    display: table;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.u-clearfix:before, .u-clearfix:after {
    content: '';
    display: table;
}
*, *:before, *:after {
    box-sizing: border-box;
}

/*More styles using*/
.h2C {
  box-sizing: border-box;
  display: block;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  height: 28px;
  margin-block-end: 19.92px;
  margin-block-start: 19.92px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  text-size-adjust: 100%;
  /*width: 1247.33px;*/
}

.paragraphC {
  box-sizing: border-box;
  color: rgb(17, 17, 17);
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 224px;
  line-height: 32px;
  margin-block-end: 50px;
  margin-block-start: 20px;
  margin-bottom: 50px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  overflow-wrap: break-word;
  pointer-events: auto;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  /*width: 550px;*/
}

/*More styles testing*/
/*

*/
