/*
Author: Shradha Mukherjee
Date: 2022-03-12
*/

/*head and body styles*/

html, body {
  background-color: #DBF0D5;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-family: Roboto, Arial, "sans-serif";
  font-size: 14px;
  line-height: 20px;
  position: relative;
  text-size-adjust: 100%;
}

.h1C {
  box-sizing: border-box;
  display: block;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  height: 28px;
  margin-block-end: 19.92px;
  margin-block-start: 19.92px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  text-size-adjust: 100%;
}

.h2C {
  box-sizing: border-box;
  color: rgb(17, 17, 17);
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 24px;
  overflow-wrap: break-word;
  pointer-events: auto;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
}

.paragraphC {
  box-sizing: border-box;
  color: rgb(17, 17, 17);
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  /*height: 224px;*/
  overflow-wrap: break-word;
  pointer-events: auto;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
}

.divC {
  display:flex;
}

.flex1LC {
  padding: 50px 40px;
  width: 57.85%;
  margin-right: 1.65%;
}

.flex1RC {
  padding: 50px 40px;
  width: 40.5%;
}

.imageC {
  max-width: 100%;
  height: auto;
}

.hrC {
  height:5px;
  background-color:#2A521D;
}

#id {
  height: auto;
  weight: 100%;
}

/*header and footer styles*/
.footerC, .headerC {
  background-color: #2A521D;
  /*background-image: none;*/
  background-image: url("tree4-pexels-pixabay-53435.jpg");
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 300px;
  line-height: 25.6px;
  position: relative;
  text-size-adjust: 100%;
}

.h1Cheader {
  box-sizing: border-box;
  display: block;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-top: 50px;
  text-align: center;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  text-transform: uppercase;
}

.h1Cfooter {
  box-sizing: border-box;
  display: block;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-top: 50px;
  overflow-wrap: break-word;
  text-align: center;
  text-size-adjust: 100%;
}

.paragraphCfooter {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-top: 50px;
  overflow-wrap: break-word;
  text-align: center;
  text-size-adjust: 100%;
}

/*End. Thank you.*/
